camtools
einops
lpips
tensorboard
tqdm
transformers==4.44.2
omegaconf
open-clip-torch
open3d
opencv-python==4.10.0.84
Pillow
plyfile==1.0.3
pytorch-lightning==2.1.2
PyYAML
ipykernel
trimesh
roma
ninja
numpy==1.26.4
setuptools==69.5.1
